.img-price-detail-shoes,
.img-price-detail-clothes,
.img-price-detail-accessories {
  margin-top: 30px;
  /* border: 1px solid black; */
  position: relative;
}
.button-move-left-product-highlight-shoes {
  position: absolute;
  top: calc(100% - 50%);
  left: 60px;
  font-size: 28px;
  border: 0.1px;
  /* z-index: 2; */
  border-radius: 100%;
  opacity: 0.9;
  background-color: rgb(241, 235, 235);
  cursor: pointer;
}
.button-move-right-product-highlight-shoes {
  position: absolute;
  /* z-index: 2; */
  top: calc(100% - 50%);
  right: 60px;
  font-size: 28px;
  border: 0.1px;
  border-radius: 100%;
  opacity: 0.9;
  background-color: rgb(241, 235, 235);
  cursor: pointer;
}
.button-move-left-product-highlight-shoes:active i,
.button-move-right-product-highlight-shoes:active i {
  color: azure;
  opacity: 100%;
}
.header-shoes,
.header-clothes,
.header-accessories {
  display: flex;
  /* border: 1px solid black; */
  height: 50px;
  margin: 0 auto;
  width: 1300px;
}
.header-shoes p,
.header-clothes p,
.header-accessories p {
  font-size: 30px;
  font-weight: 800;
  /* margin-left: 10px; */
  margin-top: 10px;
}
.header-shoes a,
.header-clothes a,
.header-accessories a {
  font-size: 20px;
  margin-left: auto;
  margin-top: 20px;
  margin-right: 5px;
}
.header-shoes a:hover,
.header-clothes a:hover,
.header-accessories a:hover {
  text-decoration: underline;
}
.product-highlight-shoes,
.product-highlight-clothes,
.product-highlight-accessories {
  display: flex;
  width: 1330px;
  height: 330px;
  overflow: auto;
  /* padding-left: 20px;
    padding-right: 20px; */
  margin: 0 auto;
  /* border: 1px solid black; */
}
/* .product-highlight-shoes::-webkit-scrollbar {
    width: 100%;
  } */
.product-highlight-shoes article,
.product-highlight-clothes article,
.product-highlight-accessories article {
  margin-left: 10px;
  margin-right: 10px;
}
.product-highlight-shoes article:hover,
.product-highlight-clothes article:hover,
.product-highlight-accessories article:hover {
  border: 1px solid rgb(243, 238, 238);
}
.product-highlight-shoes img,
.product-highlight-clothes img,
.product-highlight-accessories img {
  width: 245px;
  height: 245px;
}
.price-detail-shoes,
.price-detail-clothes,
.price-detail-accessories {
  display: flex;
  margin-top: 15px;
}
.price-shoes,
.price-clothes,
.price-accessories {
  margin-top: -5px;
  /* margin-left: 10px; */
  color: red;
}
.detail-shoes,
.detail-clothes,
.detail-accessories {
  margin-left: auto;
  /* margin-right: px; */
  margin-top: -5px;
  text-decoration: underline;
}
